/* Dashboard.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* cor de fundo geral */
  font-family: 'Segoe UI', sans-serif;
}

.home-container {
  height: 100vh;           /* ocupa a altura total da viewport */
  width: 100vw;            /* ocupa a largura total da viewport */
  box-sizing: border-box;  /* inclui padding na largura/altura */
  padding: 40px 60px;
  background-color: #1f2937;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto; /* permite scroll vertical caso necessário */
}

.home-container h2 {
  text-align: center;
  font-size: 2rem;
  color: #9d09bb;
  margin-bottom: 10px;
}

.stock-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centraliza os cards no container */
}

.stock-item {
  background-color: #111827;
  width: 400px;           /* largura fixa */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #374151;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-item:hover {
  border-color: #a200ff;
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(207, 0, 248, 0.5);
}

.item-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 16px;
}

.stock-item h3 {
  color: #f9fafb;
  font-size: 1.4rem;
  margin-bottom: 8px;
  text-align: center;
}

.item-spec {
  color: #9ca3af;
  font-size: 1rem;
  margin-bottom: 12px;
  text-align: center;
}

.item-price {
  font-weight: 700;
  color: #3b82f6;
  font-size: 1.25rem;
}
